/* LOGO
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img.reg-logo {
  width: 190px;
  padding: 13px 0 0 30px;
}

.nav {
  display: block;
  padding: 0 0 8px 0;
  background-color: rgba(255,255,255,.7);
}

.masthead {
  height: 550px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 255, 255,1);
  background-size: cover;
}

.masthead-intro {
  background: url('https://nomful.com/development/img/smoothie-drinking.jpg'); 
  background-position: 50% 0px;
  background-size: cover;
}

.top-masthead {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  .masthead {
    height: 800px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}










.center {
  text-align: center;
}

.mbudge {
  margin-top: 20px;
  margin-bottom: 10px;
}

.mbudges {
  margin-top: 40px;
  margin-bottom: 20px;
}


div.lb_label.top, div.lb_label.top.active {
  margin-left: 10px;
}




img.phone-pick, img.partnerlogo {
  display: inline-block;
  margin: 0 auto;
  max-width: 20%;
  width: auto;
  padding: 0 10px;
  cursor: pointer;  
}

#bank, #other-device {display:none;}



div#other-device {
  text-align: center;
  margin-top: 35px;
}

span.suggestion {
  font-style: italic;
  border-bottom: solid 1px rgb(0, 206, 235);
  display: inline;
  color: rgb(0, 206, 235);
  cursor: pointer;
}

input#group-code {
  margin: 0 20px;
}

span.og-price-small {
  font-size: 2.5rem;
  text-decoration: line-through;
  color: red;
}

span.group-price {
  font-weight: 400;
}

ul.no-dec {
  list-style: none;
}

#success-trainers, #success-revuup {
  display: none;
}


input[type="text"]#sp-website, input[type="phone"]#sp-phone, input[type="text"]#sp-website-r, input[type="phone"]#sp-phone-r  { 
  display: none; 
}

input[type="email"]#join-email {
  display: inline-block;
  width: 25%;
  margin: 5px 10px;
  min-width: 200px;
}

input[type="submit"] {
  padding: 1px 3.5%;
}

input[type="submit"]:hover, a.join-now-button:hover {

}

form.email-form {
  margin: 20px 0px;
}


.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}




form#premiumForm, form#basicForm {
  display: none;
}


span.per_month {
  font-size: 2.5rem;
}


img.partnerlogo {
  display: inline-block;
  margin: 0 auto;
  max-width: 17%;
  min-width: 120px;
  width: auto;
  padding: 0 4%;
}

.tables {
  display: table;
}
.cell-middle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}