/* ----------------------------------------------------------------------- */
/* -------------------------- TOP NAV & MASTHEAD ------------------------- */
/* ----------------------------------------------------------------------- */

.mobile-nav {
  position: relative;
  display: block;
  text-align: left;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: white;
  height: 39px;
  padding: 18px 20px;
}

img.logo-mobile {
  height: 39px;
}

.masthead-top {
  height: 650px;
  background-image: url('/img1/hero-home.jpg');
  background-position: 14% 50%;
  background-size: cover;
  margin-top: -30px;
}

.masthead-top-content {
  position: relative;
  top: 130px;
}

.header {
  margin-bottom: -78px;
  padding-top: 10px;
  text-align: left;
}

img.logo {
  height: 44px;
}

#top-button {
  height: 45px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  bottom: -20px;
}

h1#top-headline {
  font-weight: 900;
  text-transform: uppercase;
  color: #fafafa;
  letter-spacing: 0px;
}

h5#subline {
  color: #fafafa;
  padding: 0px 10px;
  margin-top: 30px;
}

h4#top-CTA {

}

h4#top-CTA {
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 40px;
  color: #fafafa;
}

h4#top-CTA span {
  border-bottom: 5px solid #FF8B35;
}

img#orange-arrow {
  display: none;
}

.lb_label.top {
  color: #888;
  padding-left: 10px;
}

input.button-primary {
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  margin-top: 0px;
  width: 100%;
}

input#email-c {
  width: 90%;
  display: inline;
  height: 42px;
  border: none;
  font-size: 17px;
  margin-right: 5px;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input#submit-c {
  width: 90%;
  display: inline;
  text-transform: none;
  margin-left: -3px;
  text-align: center;
  background-color: #FF8B35;
  border: none;
  font-size: 21px;
}
  

/* Outer */
.popup {
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
  max-width:700px;
  width: 85%;
  padding: 20px 10px;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  border-radius:3px;
  background:#fff;
}

/* Close Button */
.popup-close , .sb .sb-close-btn{
  width:30px;
  height:30px;
  padding-top:4px;
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  transition:ease 0.25s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:rgba(0,0,0,0.8);
  font-family:Arial, Sans-Serif;
  font-size:20px;
  text-align:center;
  line-height:100%;
  color:#fff;
}

.popup-close:hover , .sb .sb-close-btn:hover {
  -webkit-transform:translate(50%, -50%) rotate(180deg);
  transform:translate(50%, -50%) rotate(180deg);
  background:rgba(0,0,0,1);
  text-decoration:none;
}


.sb {
  display: none;
  position: fixed;
  top: 30%;
  left: 3%;
  width: 94%;
  height: 210px;
  background: white;
  padding: 10px 0px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  z-index: 1999;
  opacity: 0;
}

.sb form input[type='text'], .sb form input[type='password'], .sb form input[type='email'], .sb form textarea{
  margin: 0;
  display: inline;
  border: none;
  background: #f7f7f7;
  padding: 18px 10px;
  font-size: 15px;
  width: 230px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.sb form input[type='submit'] {
  background: none;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  background: black;
  color: white;
  width: 80px;
  margin-left: 5px;
  padding: 0px 1px;
  text-align: center;
  height: 37px;
}

div#popup-message {
  position: relative;
  left: 5%;
  width: 90%;
}


/* Larger than tablet */
@media (min-width: 750px) {
  .masthead-top-content {
    top: 40px;
    width: 80%;
  }

  .mobile-nav {
    display: none;
  }
  
  header {
    display: block;
/*  position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    color:#fff;
    z-index: 1000;
    height: 120px;
    overflow: hidden;*/
    padding: 0px;
    position: relative;
    margin-bottom: -112px;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .header {
    width: 80%;
    max-width: 1140px;
    display: block;
    margin: 0 auto;
  }

  header.shrink {
    height: 66px;
    background-color: rgba(255,255,255,.95);
  }

  img.logo {
    height: 44px;
    padding: 25px 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  img.logo.shrink {
    height: 36px;
    padding: 15px 0px;
  }

  .masthead-top {
    height: 570px;
    background-position: 34% 30%;
    background-size: cover;
    padding-top: 120px;
    margin-top: 0px;
  }
  
  h1#top-headline {
    text-align: left;
    width: 80%;
    min-width: 550px;
  }

  h5#subline {
    padding: 0px;
    text-align: left;
    width: 70%;
  }
  
  h4#top-CTA {
    margin-top: 70px;
    margin-bottom: 20px;
    width: 500px;
    text-align: left;
  }
  
  input#email-c {
    height: 45px;
    width: 270px;
    font-size: 19px;
  }
  
  input#submit-c {
    width: 160px;
    padding: 0px 1px;
    font-size: 22px;
    height: 45px;
    top: 1px;
  }
  
  img#orange-arrow {
    width: 75px;
    display: inline;
    float: left;
    margin-top: -20px;
    -ms-transform: rotate(77deg);
    -webkit-transform: rotate(77deg);
    transform: rotate(77deg);
  }
  
  #top-button {
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    position: relative;
    bottom: -15px;
  }

  #top-button:hover {
    background-color: rgba(110, 177, 155, .6);
  }
  
  nav.reg-menu {
    display: none;
  }
  
  nav.reg-menu.shrink {
    display: inline-block;
    float: right;
    padding-top: 21px;
  }

  nav.reg-menu.shrink ul {
    margin-bottom: 0px;
  }
  
  nav.reg-menu.shrink li {
    display: inline;
    padding: 0px 12px;
    font-size: 16px;
    line-height: 16px;
  }
  
  nav.reg-menu.shrink li:last-child  {
    padding: 0px;
  }
  
  nav.reg-menu.shrink li a {
    text-decoration: none;
    color: #222;
    font-weight: 600;
  }
  
  a.sign-up.capitalize {
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #6EB19B;
    padding: 10px 24px;
    margin-left: 12px;
    border-radius: 4px;
    color: #FFF !important;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
  }
  
  a.sign-up.capitalize:hover {
    background-color: rgba(110, 177, 155, .8);
  }
  
  .sb {
    left: 15%;
    width: 70%;
    height: 210px;
    padding: 20px 0px;
  }
  
  .sb form input[type='text'], .sb form input[type='password'], .sb form input[type='email'], .sb form textarea{
    font-size: 16px;
    width: 270px;
  }

  .sb form input[type='submit'] {
    font-size: 16px;
    width: 130px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .masthead-top-content {
      width: 80%;
  }
  
  h1#top-headline {
    text-align: left;
    width: 60%;
    min-width: 550px;
  }

  h5#subline {
    width: 50%;
    max-width: 550px;
  }
  
  .sb {
    left: 22.5%;
    width: 55%;
    height: 170px;
    padding: 30px 0px 40px;
  }

}




/* ----------------------------------------------------------------------- */
/* ----------------------------- INTRO BANNER ---------------------------- */
/* ----------------------------------------------------------------------- */

.intro-banner-list{
  padding: 30px 0px;
}

.intro-banner-list ul {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 600;
}

.intro-banner-list li:not(:first-child) {
  margin-top: 25px;
}

.intro-banner-list li:not(:first-child):before {
  display: block;
  position: relative;
  content: '';
  width: 30px;
  height: 1px;
  left: calc(50% - 15px);
  top: -14px;
  background-color: #BBB;
}

.intro-banner-list ul {
  margin-bottom: 0px;
}

/* Larger than tablet */
@media (min-width: 750px) {
  
  .intro-banner-list li:not(:first-child):before {
    display: inline-block;
    width: 7px;
    height: 7px;
    top: -2px;
    left: calc(-18px - 3px);
    border-radius: 50%;
    background-color: rgba(110, 177, 155, 1);
  }
  
  .intro-banner-list li {
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .intro-banner-list li:not(:first-child) {
    margin-left: 40px;
  }
  
}


/* ----------------------------------------------------------------------- */
/* ----------------------------- MASTHEAD TOGETHER ----------------------------- */
/* ----------------------------------------------------------------------- */

.masthead-together {
  height: 680px;
  background-image: url('/img1/masthead-together.jpg');
  background-position: 30% 50%;
  background-size: cover;
}

.masthead-together-content {
  position: relative;
  top: 340px;
  background-color: rgba(255,255,255,.3);
}


/* ----------------------------------------------------------------------- */
/* ------------------------- MASTHEAD TESTIMONIAL ------------------------ */
/* ----------------------------------------------------------------------- */

.masthead-testimonial {
  height: 270px;
}

.testimonial-box {
  padding: 0px 11px;
  margin-top: 90px;
  background-color: #BFDBD1;
  border: none;
  border-radius: 10px;
}

img.testimonial-profile {
  height: 110px;
  margin-top: -57px;
  border: 2px solid #f1f1f1;
  border-radius: 50%;
}

.testimonial-stars-row {
  display: block;
  padding-top: 8px;
}

img.testimonial-stars {
  display: inline;
  width: 30px;
  height: 30px;
}

.testimonial-box h5 {
  margin-bottom: 7px;
  font-weight: 500;
  margin-top: 9px;
}

.testimonial-box h6 {
  font-size: 19px;
  padding-bottom: 10px;    
}

/* Larger than tablet */
@media (min-width: 750px) {
  
  .masthead-testimonial {
    height: 300px;
  }
  
  .testimonial-box {
    max-width: 600px;
  }
  
  .testimonial-box h5 {
    padding: 0px 70px;
  }
  
}

/* Larger than desktop */
@media (min-width: 1000px) {
  
  .masthead-testimonial {
    height: 300px;
  }
  
  .testimonial-box {
    display: block;
    margin: 100px auto 30px;
  }
  
}

/* ----------------------------------------------------------------------- */
/* ---------------------- MASTHEAD - EATING RIGHT ------------------------ */
/* ----------------------------------------------------------------------- */

.masthead-eatingRight {
  padding-top: 75px;
  padding-bottom: 75px;
  min-height: 880px;
  background-image: url('/img1/eat-right.jpg');
  background-position: 30% 50%;
  background-size: cover;
  color: #fafafa;
}

.masthead-eatingRight-content h2 {
  letter-spacing: 0px;
  margin-bottom: 50px;
}

img.eatingRight-meal {
  width: 225px;
  display: inline-block;
  margin: 0 auto;
}

.eatingRight-point {
  margin-left: 15%;
  margin-right: 9%;
  margin-top: 40px;
}
  
.point-box p {
  margin-bottom: 0px;
  text-align: left;
  padding-left: 12px;
}

.point-box {
  font-size: 21px;
  line-height: 1.4em;
  width: 100%;
  background-color: rgba(255,255,255,.9);
  color: #050505;
  padding: 10px;
  border-radius: 10px;
}

#point-box-green {
  background-color: #7ECAAF;
}

.point-box-img {
  display: block;
  height: 110px;
  float: left;
  margin-left: -62px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,.9);
}

.point-box-person {
  font-size: 19px;
  font-style: italic;
  text-indent: 2px;
  text-align: left;
}
  
/* Larger than tablet */
@media (min-width: 750px) {
  
  .masthead-eatingRight {
    min-height: 550px;
  }
  
  img.eatingRight-meal {
    float: left;
  }
  
.eatingRight-point {
  width: 50%;
  display: inline;
  float: left;
  margin: 20px 0px 0px 80px;
}
  
}

/* Larger than desktop */
@media (min-width: 1000px) {
  
  .eatingRight-point{
    min-width: 380px;
    width: 47%;
    max-width: 530px;
    margin: 7% 0px 0px 50px;
  }
  
  img.eatingRight-meal {
    width: 285px;
    margin: 0px 5%;
  }
  
}



/* ----------------------------------------------------------------------- */
/* ---------------------- MASTHEAD - COACH INTRO ------------------------- */
/* ----------------------------------------------------------------------- */

.masthead-coachIntro {
  padding-top: 75px;
  padding-bottom: 75px;
  min-height: 880px;
  background-image: url('/img1/masthead-you.jpg');
  background-size: cover;
  color: #060606;
}

.masthead-coachIntro-content h2 {
  letter-spacing: 0px;
  margin-bottom: 50px;
}

.coachIntro-box {
  padding: 0px 11px;
  margin-top: 90px;
  background-color: #f1f1f1;
  border: 2px solid #1c1c1c;
  border-radius: 10px;
}

.coachIntro-box img {
  display: block;
  margin: 0 auto;
  height: 110px;
  margin-top: -57px;
  border-radius: 50%;
  border: 2px solid #1c1c1c;
}

.coachIntro-box h4 {
  font-weight: 500;
  margin-top: 13px;
  margin-bottom: 13px;
}

/* Larger than tablet */
@media (min-width: 750px) {
  
  .masthead-coachIntro {
    min-height: 500px;
  }
  
  .coachIntro-box {
    width: 80%;
    max-width: 560px;
    margin: 90px auto 30px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  
  .coachIntro-box {
    width: 26.5%;
    max-width: 560px;
    display: inline-block;
    margin: 60px 10px 20px;
  }
  
}



/* ----------------------------------------------------------------------- */
/* -------------------------- MASTHEAD - JOIN ---------------------------- */
/* ----------------------------------------------------------------------- */

.masthead-join {
  padding-top: 75px;
  padding-bottom: 75px;
  min-height: 850px;
  background-image: url('/img1/masthead-you.jpg');
  background-position: 30% 50%;
  background-size: cover;
}

#join-title {
  font-weight: 700;
  color: white;
}

ul.join-props {
  list-style-type: none;
}

#healthy-start {
  background-color: rgba(255,255,255,.94);
  padding: 15px 0px 5px 0px !important;
  margin-top: 40px;
  margin-bottom: 40px;
}

#bootcamp {
  background-color: rgba(255,255,255,.94);
  padding: 15px 0px 5px 0px !important;
  margin-bottom: 20px;
  outline-width: 5px;
  outline-style: solid;
  outline-color: #6EB19B;
}

.join-button {
  font-size: 15px;
  border-width: 2px;
  border-color: #6EB19B;
  line-height: 30px;
  height: 40px;
  margin-bottom: 20px;
}

span.join-time {
  font-size: 15px;
}

h4.question-contact {
  padding: 60px 60px 0px;
}

/* Larger than tablet */
@media (min-width: 750px) {
  .masthead-join {
    padding-top: 150px;
    min-height: 680px;
    background-image: url('/img1/masthead-you.jpg');
    background-position: 30% 0%;
    background-size: cover;
  }
  
  .masthead-join-content {
    width: 100%;
  }
  
  #bootcamp, #healthy-start {
    display: inline-block;
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    margin: 0px 20px 30px;
  }
  
  #join-title {
    padding: 0px 40px;
    margin-bottom: 100px
  }
  
  .join-button {
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
  }
  
  .join-button:hover {
    background-color: rgba(110, 177, 155, .6) !important;
    border-color: rgb(85, 144, 125) !important;
  }
  
  h4.question-contact {
    padding: 0px;
    padding-top: 60px;
  }

}

/* Larger than desktop */
@media (min-width: 1000px) {
  .masthead-join-content {
    width: 80%;
  }
  
  #join-title {
    padding: 0px;
  }
}

/* ----------------------------------------------------------------------- */
/* ------------------------------- FOOTER -------------------------------- */
/* ----------------------------------------------------------------------- */

.top-footer {
  background-color: #2d2d2d;
  padding: 35px 0px 10px;
  color: #fff;
}

ul.learn-more-list {
  list-style-type: none;
  width: 125px;
  display: inline-block;
}

ul.learn-more-list li {
  margin-bottom: 8px;
}

ul.learn-more-list.list-left a, ul.learn-more-list.list-right a {
  text-decoration: none;
  color: #fdfdfd;
}

.made-with {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-size: 12px;
  display: inline-block;
}

.made-with i {
  color: #ef595c !important;
}

.bottom-footer {
  background-color: #2D2D2D;
  padding: 20px 0px;
  color: #fff;
}

img.footer-logo {
  width: 180px;
  display: block;
  margin: 0 auto 35px;
}

ul.social-media-icons {
  list-style-type: none;
  margin-bottom: 0px;
}

ul.social-media-icons img {
  max-width: 55px;
  max-height: 55px;
  width: 18%;
}

.social-media-icons li {
  display: inline;
  padding: 0px 7px;
}

.copyright {
  margin-bottom: 0px;
  font-size: 10px;
  color: lightgray;
}

img.download-appstore {
  width: 200px;
  padding: 0px 0px 25px;
  display: inline-block;
}

img#mixpanel {
  display: block;
  margin: 0 auto 20px;
}

/* Larger than tablet */
@media (min-width: 750px) {
  .learn-more, .connect {
    width: 38%;
    max-width: 325px;
    display: inline-block;
  }
  
  .made-with {
    width: 250px;
    float:left;
  }
  
  img#mixpanel {
    float: right;
    top: -8px;
    position: relative;
    margin: 0px;
  }
  .copyright {
    display: inline-block;
    width: 250px;
    line-height: 19px;
    vertical-align: top;
    float: right;
  }

  .top-footer {
    background-color: #4d4d4d;
    padding: 35px 0px;
  }
  
  .bottom-footer {
    padding: 20px 0px 0px;
  }
  
  img.download-appstore {
    width: 18%;
    max-width: 200px;
    padding: 0px 2.5% 25px 0px;
    display: inline-block;
    position: relative;
    top: 30px;
  }

}



/* ----------------------------------------------------------------------- */
/* ------------------------ TOP NAV MOBILE BUTTON ------------------------ */
/* ----------------------------------------------------------------------- */

.button_container {
  position: absolute;
  top: 24px;
  right: 20px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
          transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
      -ms-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #55907D;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
          transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #6EB19B;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
          transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: .94;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 35px;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
          transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}



/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ------------------------ PARTNERS - HOME PAGE ------------------------- */
/* ----------------------------------------------------------------------- */

.partners-top {
  height: 700px;
  background-image: url('/img1/partners.jpg');
  background-position: 40% 0%;
  background-size: cover;
  margin-top: -60px;
}

.partners-top-content {
  position: relative;
  top: 220px;
  color: white;
}

.partners-why {
  padding: 75px 0px;
}

.partners-why-content h2 {
  margin-bottom: 50px;
}

.partners-why-step p {
  font-size: 16px;
}

.partners-join {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 600px;
  background-image: url('/img1/masthead-you.jpg');
  background-position: 30% 50%;
  background-size: cover;
}

.partners-join-content h2, .partners-join-content h5  {
  color: white
}

/* Larger than tablet */
@media (min-width: 750px) {
  
  .partners-top {
    height: 700px;
    background-position: 10% 0%;
  }
  
  .partners-top-content {
    top: 320px;
    padding: 0 7%;
  }
  
  .partners-join {
    padding-top: 150px;
    padding-bottom: 150px;
    height: 400px;
  }
}

/* ----------------------------------------------------------------------- */
/* -------------------------------- FORMS -------------------------------- */
/* ----------------------------------------------------------------------- */

#sp-website-r, #sp-phone-r, #index-message-top {
  display: none;
}

input {
  margin-top: 15px;
}

/*.lb_label.top {
  color: white;
  padding-left: 10px;
}*/

textarea#message {
  margin-top: 15px;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}


/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ---------------------------- CONTACT PAGE ----------------------------- */
/* ----------------------------------------------------------------------- */

.contact-top {
  height: 850px;
  background-image: url('/img1/contact.jpg');
  background-position: 40% 0%;
  background-size: cover;
  margin-top: -60px;
}

.contact-top-content {
  position: relative;
  top: 220px;
  color: white;
}

.contact-top-content form {
  color: black;
}

/* Larger than tablet */
@media (min-width: 750px) {
  
  .contact-top {
    height: 850px;
    background-position: 10% 0%;
  }
  
  .contact-top-content {
    top: 320px;
    padding: 0 7%;
  }
  
}


/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ---------------------------- DOWNLOAD PAGE ---------------------------- */
/* ----------------------------------------------------------------------- */

.mobile-nav-download {
  height: 150px;
  width: 100%;
  background: rgba(255,255,255,.4); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  position: absolute;
}

.mobile-nav-download img {
  width: 250px;
  margin-top: 15px;
}

.download-masthead-top {
  height: 650px;
  background-image: url('/img1/background-fruit.png');
  background-position: 54% 50%;
  background-size: cover;
  padding-top: 80px;
}

.parallelogram {
  width: 130px;
  height: 20px;
  background-color: white;
  display: inline-block;
  border: 2px solid #3D90C1;
}

.parallelogram:first-of-type{
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.parallelograms {
  width: 130px;
  height: 20px;
  background-color: white;
  display: inline-block;
  border: 2px solid #3D90C1;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-left: none;
  display:none;
}

.progress-fill {
  background: #3D90C1;
}

.parallel-text-budge {
  top: -1px;
  position: relative;
}

input#download-cta {
  font-family: 'Open Sans';
  background-color: #EF6530;
  border-color: #EF6530;
}

img#download-phone-right, #download-message-top {
  display: none;
}

input#email_c {
  margin-top: 0px;
}

.download-form-box {
  width: 100%;
  background-color: rgba(255,255,255,.8);
  padding: 30px 0px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.download-message-top-style {
  display: block;
  margin: 30px auto 0px;
}

/* Larger than tablet */
@media (min-width: 750px) {
  
  .download-masthead-top {
    padding-top: 120px;
  }
  
  .download-form-box {
    width: 60%;
    min-width: 500px;
    max-width: 570px;
  }
  
  .mobile-nav-download  {
    display: none;
  }
  
  .parallelograms {
    display: inline-block;
  }

}


/* Larger than desktop */
@media (min-width: 1000px) {
  
  .download-masthead-top {
    height: 570px;
    background-image: url('/img1/background-fruit.png');
    background-position: 44% 30%;
    background-size: cover;
    margin-top: 0px;
  }
  
  .parallelogram, .parallelograms {
    width: 145px;
  }
  
  .download-form-box {
    display: inline-block;
    float: left;
  }
  
  img#download-phone-right {
    display: inline-block;
    width: 260px;
    top: -60px;
    position: relative;
    float: left;
    margin-left: 7%;
  }
  
  
  
}

  