/* ----------------------------------------------------------------------- */
/* -------------------------- TOP NAV & MASTHEAD ------------------------- */
/* ----------------------------------------------------------------------- */

.mobile-nav {
  position: relative;
  display: block;
  text-align: left;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: white;
  height: 39px;
  padding: 18px 20px;
}

img.logo-mobile {
  height: 39px;
}

.masthead-top {
  height: 650px;
  background-image: url('/img1/main-woman.jpg');
  background-position: 65% 50%;
  background-size: cover;
  margin-top: -40px;
}

.masthead-top-content {
  position: relative;
  top: 240px;
}

.header {
  display: none;
  text-align: left;
}

#top-button {
  height: 45px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  bottom: -20px;
}

/* Larger than tablet */
@media (min-width: 750px) {
  .masthead-top-content {
    top: 200px;
  }
  
  .mobile-nav {
    display: none;
  }
  
  header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color:#fff;
    z-index: 1000;
    height: 120px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .header {
    width: 80%;
    max-width: 1140px;
    display: block;
    margin: 0 auto;
  }

  header.shrink {
    height: 66px;
    background-color: rgba(255,255,255,.95);
  }

  img.logo {
    height: 54px;
    padding: 25px 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  img.logo.shrink {
    height: 36px;
    padding: 15px 0px;
  }

  .masthead-top {
    height: 570px;
    background-image: url('/img1/main-woman.jpg');
    background-position: 60% 30%;
    background-size: cover;
    padding-top: 120px;
    margin-top: 0px;
  }
  
  .masthead-top-content {
    width: 80%;
  }
  
  #top-button {
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    position: relative;
    bottom: -15px;
  }

  #top-button:hover {
    background-color: rgba(110, 177, 155, .6);
  }
  
  nav.reg-menu {
    display: none;
  }
  
  nav.reg-menu.shrink {
    display: inline-block;
    float: right;
    padding-top: 21px;
  }

  nav.reg-menu.shrink ul {
    margin-bottom: 0px;
  }
  
  nav.reg-menu.shrink li {
    display: inline;
    padding: 0px 12px;
    font-size: 16px;
    line-height: 16px;
  }
  
  nav.reg-menu.shrink li:last-child  {
    padding: 0px;
  }
  
  nav.reg-menu.shrink li a {
    text-decoration: none;
    color: #222;
    font-weight: 600;
  }
  
  a.sign-up.capitalize {
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #6EB19B;
    padding: 10px 24px;
    margin-left: 12px;
    border-radius: 4px;
    color: #FFF !important;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
  }
  
  a.sign-up.capitalize:hover {
    background-color: rgba(110, 177, 155, .8);
  }
  
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .masthead-top-content {
      width: 50%;
  }
}




/* ----------------------------------------------------------------------- */
/* ----------------------------- INTRO BANNER ---------------------------- */
/* ----------------------------------------------------------------------- */

.intro-banner-list{
  padding: 30px 0px;
}

.intro-banner-list ul {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 600;
}

.intro-banner-list li:not(:first-child) {
  margin-top: 25px;
}

.intro-banner-list li:not(:first-child):before {
  display: block;
  position: relative;
  content: '';
  width: 30px;
  height: 1px;
  left: calc(50% - 15px);
  top: -14px;
  background-color: #BBB;
}

.intro-banner-list ul {
  margin-bottom: 0px;
}

/* Larger than tablet */
@media (min-width: 750px) {
  
  .intro-banner-list li:not(:first-child):before {
    display: inline-block;
    width: 7px;
    height: 7px;
    top: -2px;
    left: calc(-18px - 3px);
    border-radius: 50%;
    background-color: rgba(110, 177, 155, 1);
  }
  
  .intro-banner-list li {
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .intro-banner-list li:not(:first-child) {
    margin-left: 40px;
  }
  
}


/* ----------------------------------------------------------------------- */
/* ----------------------------- MASTHEAD TOGETHER ----------------------------- */
/* ----------------------------------------------------------------------- */

.masthead-together {
  height: 680px;
  background-image: url('/img1/masthead-together.jpg');
  background-position: 30% 50%;
  background-size: cover;
}

.masthead-together-content {
  position: relative;
  top: 340px;
  background-color: rgba(255,255,255,.3);
}


/* ----------------------------------------------------------------------- */
/* ----------------------------- MASTHEAD YOU ----------------------------- */
/* ----------------------------------------------------------------------- */

.masthead-you {
  height: 680px;
  background-image: url('/img1/masthead-you.jpg');
  background-position: 30% 50%;
  background-size: cover;
}

.masthead-you-content {
  position: relative;
  top: 340px;
  background-color: rgba(255,255,255,.3);
}



/* ----------------------------------------------------------------------- */
/* ------------------------ MASTHEAD - EXPLAINER ------------------------- */
/* ----------------------------------------------------------------------- */

.masthead-explainer {
  padding-top: 75px;
  padding-bottom: 75px;
}

span.explainer-step-number {
  background-color: rgb(110, 177, 155);
  border-radius: 50%;
  color: white;
  display: block;
  font-size: 28px;
  height: 50px;
  box-sizing: border-box;
  width: 50px;
  line-height: 28px;
  margin: 30px auto 10px;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 8px 0px rgba(50, 50, 50, 0.75);
}

.explainer-step img {
  width: 300px;
  padding-bottom: 50px;
}


.explainer-step p {
  font-size: 17px;
}



/* ----------------------------------------------------------------------- */
/* -------------------------- MASTHEAD - JOIN ---------------------------- */
/* ----------------------------------------------------------------------- */

.masthead-join {
  padding-top: 75px;
  padding-bottom: 75px;
  height: 800px;
  background-image: url('/img1/masthead-you.jpg');
  background-position: 30% 50%;
  background-size: cover;
}

#join-title {
  font-weight: 700;
  color: white;
}

ul.join-props {
  list-style-type: none;
}

#healthy-start {
  background-color: rgba(255,255,255,.94);
  padding: 15px 0px 5px 0px !important;
  margin-top: 40px;
  margin-bottom: 40px;
}

#bootcamp {
  background-color: rgba(255,255,255,.94);
  padding: 15px 0px 5px 0px !important;
  margin-bottom: 20px;
  outline-width: 5px;
  outline-style: solid;
  outline-color: #6EB19B;
}

.join-button {
  font-size: 15px;
  border-width: 2px;
  border-color: #6EB19B;
  line-height: 30px;
  height: 40px;
  margin-bottom: 20px;
}

span.join-time {
  font-size: 15px;
}

/* Larger than tablet */
@media (min-width: 750px) {
  .masthead-join {
    padding-top: 150px;
    height: 680px;
    background-image: url('/img1/masthead-you.jpg');
    background-position: 30% 0%;
    background-size: cover;
  }
  
  #bootcamp, #healthy-start {
    display: inline-block;
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    margin: 0px 20px 30px;
  }
  
  #join-title {
    margin-bottom: 100px
  }
  
  .join-button {
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
  }
  
  .join-button:hover {
    background-color: rgba(110, 177, 155, .6) !important;
    border-color: rgb(85, 144, 125) !important;
  }

}

/* ----------------------------------------------------------------------- */
/* ------------------------------- FOOTER -------------------------------- */
/* ----------------------------------------------------------------------- */

.top-footer {
  background-color: #2d2d2d;
  padding: 35px 0px 10px;
  color: #fff;
}

ul.learn-more-list {
  list-style-type: none;
  width: 125px;
  display: inline-block;
}

ul.learn-more-list li {
  margin-bottom: 8px;
}

ul.learn-more-list.list-left a, ul.learn-more-list.list-right a {
  text-decoration: none;
  color: #fdfdfd;
}

.made-with {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-size: 12px;
  display: inline-block;
}

.made-with i {
  color: #ef595c !important;
}

.bottom-footer {
  background-color: #2D2D2D;
  padding: 20px 0px;
  color: #fff;
}

img.footer-logo {
  width: 180px;
  display: block;
  margin: 0 auto 35px;
}

ul.social-media-icons {
  list-style-type: none;
  margin-bottom: 0px;
}

ul.social-media-icons img {
  width: 55px;
  height: 55px;
}

.social-media-icons li {
  display: inline;
  padding: 0px 7px;
}

.copyright {
  margin-bottom: 0px;
  font-size: 10px;
  color: lightgray;
}

img.download-appstore {
  width: 200px;
  padding: 0px 0px 25px;
  display: inline-block;
}

/* Larger than tablet */
@media (min-width: 750px) {
  .learn-more, .connect {
    width: 38%;
    max-width: 325px;
    display: inline-block;
  }
  
  .made-with {
    width: 250px;
    float:left;
  }
  
  .copyright {
    display: inline-block;
    width: 250px;
    line-height: 19px;
    vertical-align: top;
    float: right;
  }

  .top-footer {
    background-color: #4d4d4d;
    padding: 35px 0px;
  }
  
  .bottom-footer {
    padding: 20px 0px 0px;
  }
  
  img.download-appstore {
    width: 18%;
    max-width: 200px;
    padding: 0px 2.5% 25px 0px;
    display: inline-block;
    position: relative;
    top: 30px;
  }

}



/* ----------------------------------------------------------------------- */
/* ------------------------ TOP NAV MOBILE BUTTON ------------------------ */
/* ----------------------------------------------------------------------- */

.button_container {
  position: absolute;
  top: 24px;
  right: 20px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
          transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
      -ms-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #FF5252;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
          transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #6EB19B;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
          transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: .94;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 35px;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
          transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
